@{
    ViewBag.Title = "Dashboard";
}

<div class="container-fluid">
    <div class="row mb-5">
        <div class="col-md-3">
            <div class="card mb-3 card-01">
                <div class="card-body p-0">
                    <div class="media p-3">
                        <div class="media-body">
                            <span>Dummy Text</span>
                        </div>
                        <div class="align-self-center">
                            <h2>04</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-3 card-02">
                <div class="card-body p-0">
                    <div class="media p-3">
                        <div class="media-body">
                            <span>Dummy Text</span>
                        </div>
                        <div class="align-self-center">
                            <h2>04</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-3 card-03">
                <div class="card-body p-0">
                    <div class="media p-3">
                        <div class="media-body">
                            <span>Dummy Text</span>
                        </div>
                        <div class="align-self-center">
                            <h2>04</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-3 card-04">
                <div class="card-body p-0">
                    <div class="media p-3">
                        <div class="media-body">
                            <span>Dummy Text</span>
                        </div>
                        <div class="align-self-center">
                            <h2>04</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- MANAGE USER STARTS -->
<div class="container-fluid">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-md-5">
                    <h2>Manage User</h2>
                </div>
                <div class="col-md-7">
                    <div class="align-end">
                        <a href="@Url.Action("ManageUser", "Home", null)" type="button" class="btn btn-primary">Add User</a>
                        <a href="@Url.Action("ManageUser", "Home", null)" type="button" class="btn btn-secondary">Add Bulk User</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive mb-5">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Mobile Number</th>
                    <th>Role</th>
                    <th>Enable/Disable</th>
                    <th>Manage User</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        <a href="#" class="d-flex">
                            <img src="images/avatar-7.jpg"
                                 class="avatar-xs rounded-circle mr-2 d-none d-lg-block"
                                 alt="Avatar"> Michael Holz
                        </a>
                    </td>
                    <td>9876543210</td>
                    <td>Owner</td>
                    <td>Enable</td>
                    <td>
                        <a href="#">
                            <i class="far fa-edit"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>
                        <a href="#" class="d-flex">
                            <img src="images/avatar-7.jpg"
                                 class="avatar-xs rounded-circle mr-2 d-none d-lg-block"
                                 alt="Avatar"> Paula Wilson
                        </a>
                    </td>
                    <td>9876543210</td>
                    <td>Owner</td>
                    <td class="text-muted">Disabled</td>
                    <td>
                        <a href="#">
                            <i class="far fa-edit"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>
                        <a href="#" class="d-flex">
                            <img src="images/avatar-7.jpg"
                                 class="avatar-xs rounded-circle mr-2 d-none d-lg-block"
                                 alt="Avatar"> Antonio Moreno
                        </a>
                    </td>
                    <td>9876543210</td>
                    <td>Owner</td>
                    <td>Enable</td>
                    <td>
                        <a href="#">
                            <i class="far fa-edit"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>
                        <a href="#" class="d-flex">
                            <img src="images/avatar-7.jpg"
                                 class="avatar-xs rounded-circle mr-2 d-none d-lg-block"
                                 alt="Avatar"> Mary Saveley
                        </a>
                    </td>
                    <td>9876543210</td>
                    <td>Owner</td>
                    <td>Enable</td>
                    <td>
                        <a href="#">
                            <i class="far fa-edit"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- MANAGE USER ENDS -->
<!-- MANAGE APARTMENT STARTS -->
<div class="container-fluid">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-md-5">
                    <h2>Manage Apartment</h2>
                </div>
                <div class="col-md-7">
                    <div class="align-end">
                        <a href="manage-apartment.html" type="button" class="btn btn-primary">Add Apartment</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive mb-5">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Apartment Name</th>
                    <th>Build Name</th>
                    <th>Enable/Disable</th>
                    <th>Show User</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        <a href="#" class="d-flex">
                            <img src="images/avatar-7.jpg"
                                 class="avatar-xs rounded-circle mr-2 d-none d-lg-block"
                                 alt="Avatar"> Michael Holz
                        </a>
                    </td>
                    <td>Dummy</td>
                    <td>Enable</td>
                    <td>
                        <a href="#">View User</a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>
                        <a href="#" class="d-flex">
                            <img src="images/avatar-7.jpg"
                                 class="avatar-xs rounded-circle mr-2 d-none d-lg-block"
                                 alt="Avatar"> Paula Wilson
                        </a>
                    </td>
                    <td>Dummy</td>
                    <td class="text-muted">Disabled</td>
                    <td>
                        <a href="#">View User</a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>
                        <a href="#" class="d-flex">
                            <img src="images/avatar-7.jpg"
                                 class="avatar-xs rounded-circle mr-2 d-none d-lg-block"
                                 alt="Avatar"> Antonio Moreno
                        </a>
                    </td>
                    <td>Dummy</td>
                    <td>Enable</td>
                    <td>
                        <a href="#">View User</a>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>
                        <a href="#" class="d-flex">
                            <img src="images/avatar-7.jpg"
                                 class="avatar-xs rounded-circle mr-2 d-none d-lg-block"
                                 alt="Avatar"> Mary Saveley
                        </a>
                    </td>
                    <td>Dummy</td>
                    <td>Enable</td>
                    <td>
                        <a href="#">View User</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- MANAGE APARTMENT ENDS -->
