@{
    ViewBag.Title = "ManageUser";
}

<!-- MANAGE USER STARTS -->
<div class="container-fluid">
<h3 class="mb-4">New User</h3>
<div class="row mb-5">

    <div class="col-md-12">
        <ul class="nav nav-pills nav-center" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link add-user active" id="pills-user-tab" data-toggle="pill"
                   href="#pills-user" role="tab" aria-controls="pills-user"
                   aria-selected="true">
                    Add User
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link add-user" id="pills-bulk-tab" data-toggle="pill"
                   href="#pills-bulk" role="tab" aria-controls="pills-bulk"
                   aria-selected="false">
                    Add Bulk User
                </a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <!-- Add User Starts -->
            <div class="tab-pane fade show active" id="pills-user" role="tabpanel"
                 aria-labelledby="pills-user-tab">
                <form id="fileForm" class="form-horizontal" name="contentForm"
                      enctype="multipart/form-data" method="" action="#" role="form"
                      data-toggle="validator" novalidate="true">
                    <div class="row">
                        <div class="container col-md-6">
                            <h3 class="mb-3">User Infomation</h3>
                            <div class="form schedule-assessment">
                                <div class="margin-top-l">
                                    <div class="form-group">
                                        <label class="form-control-label">First Name</label>
                                        <input type="text" class="form-control" id="name"
                                               placeholder="Your First name" required="required"
                                               data-error="Please enter first name">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label">Last Name</label>
                                        <input type="text" class="form-control" id="name"
                                               placeholder="Your Last name" required="required"
                                               data-error="Please enter last name">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputState">Gender</label>
                                        <select id="inputState" class="form-control" required
                                                data-error="Please select gender">
                                            <option selected>Choose...</option>
                                            <option>Male</option>
                                            <option>Female</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <!-- Date input -->
                                        <label class="control-label" for="dob">Date of Birth</label>
                                        <input class="form-control mr-5" id="dob" name="dob"
                                               placeholder="DD/MM/YYYY" type="text" required
                                               data-error="Please enter date of birth"/>
                                    </div>
                                    <div class="form-group">
                                        <!-- Date input -->
                                        <label class="control-label" for="doj">
                                            Date of
                                            Registration
                                        </label>
                                        <input class="form-control" id="doj" name="doj"
                                               placeholder="DD/MM/YYYY" type="text" required="required"
                                               data-error="Please enter date of joining">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Upload your Photo</label>
                                        <div class="form-group">
                                            <div class="file-loading">
                                                <input id="input-photo" name="input-photo[]"
                                                       type="file" accept="image/*">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputState">User Type</label>
                                        <select id="inputState" class="form-control" required
                                                data-error="Please select user type">
                                            <option selected>Choose...</option>
                                            <option>Owner</option>
                                            <option>Tenent</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputState">Total Family Members</label>
                                        <select id="inputState" class="form-control" required
                                                data-error="Please select Role">
                                            <option selected>Choose...</option>
                                            <option>01</option>
                                            <option>02</option>
                                            <option>03</option>
                                            <option>04</option>
                                            <option>05</option>
                                            <option>06</option>
                                            <option>07</option>
                                            <option>08</option>
                                            <option>09</option>
                                            <option>10</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="container col-md-6">
                            <h3 class="mb-3">Apartment Information</h3>
                            <div class="form-group">
                                <label class="form-control-label">Project Name</label>
                                <div class="input-group input-group-merge">
                                    <input type="text" class="form-control mb-3" id="name"
                                           placeholder="Project Name">
                                </div>
                                <label class="form-control-label">Block No.</label>
                                <div class="input-group input-group-merge">

                                    <input type="text" class="form-control mb-3" id="name"
                                           placeholder="Block No.">
                                </div>
                                <label class="form-control-label">Floor No.</label>
                                <div class="input-group input-group-merge">
                                    <input type="text" class="form-control mb-3" id="name"
                                           placeholder="Floor No." maxlength="11">
                                </div>
                                <label class="form-control-label">Door No.</label>
                                <div class="input-group input-group-merge">
                                    <input type="text" class="form-control mb-3" id="name"
                                           placeholder="Door No.">
                                </div>
                                <label class="form-control-label">Mobile Number</label>
                                <div class="input-group input-group-merge">
                                    <input type="text" class="form-control mb-3" id="name"
                                           placeholder="Mobile Number">
                                </div>
                                <label class="form-control-label">Email ID</label>
                                <div class="input-group input-group-merge">
                                    <input type="email" class="form-control mb-3" id="name"
                                           placeholder="Email ID">
                                </div>
                                <hr>
                                <h3 class="mb-3">Government Proof Info</h3>
                                <div class="form-group">
                                    <label class="form-control-label">PAN Card Number</label>
                                    <input type="text" class="form-control" id="name"
                                           placeholder="PAN Card Number" maxlength="10">
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Aadhar Card Number</label>
                                    <input type="text" class="form-control" id="name"
                                           placeholder="XXXX-XXXX-XXXX" maxlength="12">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Accept the <a href="#">Terms & Conditions</a>
                        </label>
                    </div>
                    <div class="mb-5 text-center">
                        <button class="btn btn-primary btn-block" type="submit">
                            Create
                            User
                        </button>
                    </div>
                    <div class="help-block with-errors"></div>
                </form>

            </div>
            <!-- Add User Ends -->
            <div class="tab-pane fade" id="pills-bulk" role="tabpanel"
                 aria-labelledby="pills-bulk-tab">
                <!-- Add Multiple User Starts -->
                <div class="form-group">
                    <label class="control-label">
                        Upload Multiple User Informantion in .xls/.xlsx Format<sup class="mandate">*</sup>
                    </label>
                    <div class="form-group">
                        <div class="file-loading">
                            <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                        </div>
                    </div>
                    <div class="mb-5 text-center">
                        <button class="btn btn-primary" type="submit">Upload Records</button>
                    </div>
                </div>


                <!-- Add Multiple User Ends -->
            </div>
        </div>
    </div>

</div>
<div class="table-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-md-5">
                <h2>Manage User</h2>
            </div>
        </div>
    </div>
    <div class="table-responsive mb-5">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Mobile Number</th>
                <th>Role</th>
                <th>Enable/Disable</th>
                <th>Manage User</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>
                    <a href="#" class="d-flex">
                        <img src="images/avatar-7.jpg"
                             class="avatar-xs rounded-circle mr-2 d-none d-lg-block"
                             alt="Avatar"> Michael Holz
                    </a>
                </td>
                <td>9876543210</td>
                <td>Owner</td>
                <td>Enable</td>
                <td>
                    <a href="#">
                        <i class="far fa-edit"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>
                    <a href="#" class="d-flex">
                        <img src="images/avatar-7.jpg"
                             class="avatar-xs rounded-circle mr-2 d-none d-lg-block"
                             alt="Avatar"> Paula Wilson
                    </a>
                </td>
                <td>9876543210</td>
                <td>Owner</td>
                <td class="text-muted">Disabled</td>
                <td>
                    <a href="#">
                        <i class="far fa-edit"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>
                    <a href="#" class="d-flex">
                        <img src="images/avatar-7.jpg"
                             class="avatar-xs rounded-circle mr-2 d-none d-lg-block"
                             alt="Avatar"> Antonio Moreno
                    </a>
                </td>
                <td>9876543210</td>
                <td>Owner</td>
                <td>Enable</td>
                <td>
                    <a href="#">
                        <i class="far fa-edit"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>
                    <a href="#" class="d-flex">
                        <img src="images/avatar-7.jpg"
                             class="avatar-xs rounded-circle mr-2 d-none d-lg-block"
                             alt="Avatar"> Mary Saveley
                    </a>
                </td>
                <td>9876543210</td>
                <td>Owner</td>
                <td>Enable</td>
                <td>
                    <a href="#">
                        <i class="far fa-edit"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
<!-- MANAGE USER ENDS -->
<!-- MANAGE APARTMENT ENDS -->